*{
	margin:0;
}
body{
	font-family: 'Sora', sans-serif;
}
/*-------------------------------topo--------------------------------------------*/
.topo{
width:100%;
height:150px;
background-color:#e3e3e3;

}
.dentro{
width:100%;
max-width:1140px;
height:150px;
background-color:#e3e3e3;
margin:auto;
}
.esq{
	width:50%;
	float:left;
	margin:0;
	height:100%;
}
.dir {
	width:50%;
	height:100%;
	float:right;
	
}

.dir img{
	padding:30px;
	padding:40px;
}

.topo h1{
	text-align: center; 
	font-size:70px;
}
.topo p{
	text-align: center; 
	font-size:25px;
}
/*--------------------------------menu-------------------------------------------- */

   .menu{
            width:100%;
            height: 80px;
            line-height: 80px; /* centraliza na vertical */
            background-color: #f1f1f1;
            margin: auto;

        }

        .fixo{
        	width:100%;
            height:230px;
            line-height: 80px; /* centraliza na vertical */
            background-color: #f1f1f1;
            margin: auto;
        	position:fixed;

        }

        ul.all{
            text-align: center; /* centraliza na horizontal */
            padding:0;
        }
        ul.all li{
            display: inline-block; /* centraliza na horizontal */
            margin:auto;
        }
        ul.all li a{
        	text-decoration:none;            
            color: #000; 
            padding:5px;          
        }
        .all li a:hover{
        	border-bottom:3px solid #B28756;
        }
      
       

/* ------------------------------conteudo------------------------------------------*/
.inter{/* -----inter é um espaço criado para o texto ficar no meio da tela----*/
width:100%;
height: 230px;
}

.conteudo{
width:100%;
max-width:1140px;
margin:auto;

}
.ini{
	width:100%;
	max-width:1140px;
	margin:auto;
	height:1000px;
	font-weight:bold;
text-align:justify;


}

.emp{
	width:100%;
	max-width:1140px;
	margin:auto;
	height:1000px;
	font-weight:bold;
 text-align:justify;

}

.pro{
	width:100%;
	max-width:1140px;
	margin:auto;
	height:1000px;
		font-weight:bold;
text-align:justify;

}

.loc{
	width:100%;
	max-width:1140px;
	margin:auto;
	height:1000px;
		font-weight:bold;
text-align:justify;

}
iframe {
	width:100%;
	max-width:1140px;
	margin: auto;
	margin-left: auto;margin-right: auto; /*-----largura do iframe--------- */	
}

section {
	font-size:25px;
	text-align:center;
	height:100px;
	line-height: 100px;

}

/*--------------------------------rodape------------------------------------------ */
.rodape{
width:100%;
height:60px;
background-color:#e3e3e3;
height:100px;
}
.rodape p{
margin:0;
text-align: center;
height:100px;

}

footer {
width:100%;
max-width:1140px;
margin:auto;
height:100px;
line-height: 100px;
}